
body{

    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.welcome{
    background-image: url(22.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    weight:100%
  }
  .heading{
    padding: 200px;
    padding-left: 200px  
}
.welcome1{
    font-size: 50px;
    color: white;
}
.name{

    color: rgb(245, 42, 7);
    font-size: 60px;
}
.flex{
   display: flex; 
   margin-bottom: 100px;
  
    
}
.text{
padding-left: 100px;
padding-right: 100px;
   
}
.image1{
    height: 250px;
    width: 360px;
    border-radius: 20px;
   
}
.recipie{

    padding-left: 45%;
   
}
.text1{
    padding-left:5px;
    font-size: 20px;
}
.text2{
    padding-right: 300px;
    padding-left: 300px;
}
.item{
    box-shadow: 10px 10px 40px gray;
    margin-left:2%;
   margin-right:2%;
   padding: 20px 20px 20px 20px;
   border-radius: 20px;
}
.section3{
    margin-right:5%;
    margin-left: 5%;
}

 